@use "./global-vars" as *;

:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Bion", sans-serif;

  --main-color: #2b2f3b;
  --text-avocado: #a6bf6e;
  --text-midnight-100: #2b2f3b;
  --text-midnight-70: #46537f;
  --text-gray: #878c9a;
  --text-white: #fcfbf7;
  --bg-avocado: #a6bf6e;
  --bg-avocado: #a6bf6e;
  --bg-midnight-100: #2b2f3b;
  --bg-midnight-70: #46537f;
  --bg-midnight-50: #6b7ebe;
  --bg-midnight-30: #9ab1ec;
  --bg-sand: #cdb193;
  --bg-white-dirt: #f2f1ed;
  --bg-beige: #fcfbf7;
  --bg-white: #fff;
  --bg-gray-dark: #878c9a;
  --bg-gray: #e7e8eb;
  --border-avocado: #a6bf6e;
  --border-avocado: rgba(166, 191, 110, 0.3);
  --border-midnight-100: #2b2f3b;
  --border-midnight-70: #46537f;
  --border-gray-dark: #878c9a;
  --border-gray-light: #e7e8eb;
  --border-beige: #fcfbf7;
  --border-white: rgba(252, 251, 247, 0.3);
  --icon-avocado: #a6bf6e;
  --icon-midnight-100: #2b2f3b;
  --icon-gray: #878c9a;
  --icon-beige: #fcfbf7;
  --icon-gray-light: #e7e8eb;
  --system-alert: #ff461e;

  --font-size: 16px;
  --font-weight: 400;

  --columns-pc: 8;
  --columns-tablet: 8;
  --columns-mobile: 1;

  --margin-pc: 120;
  --margin-tablet: 32;
  --margin-pc: 15;

  --time: 0.3s;

  --scroll-width: 0px;

  --header-height: 80px;
}

@media screen and (max-width: $xl) {
  :root {
    --header-height: 61px;
  }
}
@media screen and (max-width: $md) {
  :root {
    --header-height: 48px;
  }
}
